<!DOCTYPE html>
<html lang="de" dir="ltr">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <title>Wiener z&uuml;ndete Kellerabteil an - wien.ORF.at</title>

   <link rel="shortcut icon" type="image/png" href="https://oekastatic.orf.at/mojo/1_4_1/storyserver//common/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" href="https://oekastatic.orf.at/mojo/1_4_1/storyserver//common/images/favicons/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="https://oekastatic.orf.at/mojo/1_4_1/storyserver//common/images/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://oekastatic.orf.at/mojo/1_4_1/storyserver//common/images/favicons/favicon-64x64.png" sizes="64x64">
<link rel="icon" type="image/png" href="https://oekastatic.orf.at/mojo/1_4_1/storyserver//common/images/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="https://oekastatic.orf.at/mojo/1_4_1/storyserver//common/images/favicons/favicon-128x128.png" sizes="128x128">

<link rel="apple-touch-icon" href="https://oekastatic.orf.at/mojo/1_4_1/storyserver//oeka/common/images/touch-icon-iphone.png"/>
<link rel="apple-touch-icon" sizes="76x76" href="https://oekastatic.orf.at/mojo/1_4_1/storyserver//oeka/common/images/touch-icon-ipad.png"/>
<link rel="apple-touch-icon" sizes="120x120" href="https://oekastatic.orf.at/mojo/1_4_1/storyserver//oeka/common/images/touch-icon-iphone-retina.png"/>
<link rel="apple-touch-icon" sizes="152x152" href="https://oekastatic.orf.at/mojo/1_4_1/storyserver//oeka/common/images/touch-icon-ipad-retina.png"/>

<meta name="application-name" content="oesterreich.ORF.at"/>
<meta name="msapplication-TileColor" content="#5286c1"/>
<meta name="msapplication-square70x70logo" content="https://oekastatic.orf.at/mojo/1_4_1/storyserver//common/msapplicationtiles/target.128x128.png"/>
<meta name="msapplication-square150x150logo" content="https://oekastatic.orf.at/mojo/1_4_1/storyserver//common/msapplicationtiles/target.270x270.png"/>
<meta name="msapplication-wide310x150logo" content="https://oekastatic.orf.at/mojo/1_4_1/storyserver//common/msapplicationtiles/target.558x270.png" />
<meta name="msapplication-square310x310logo" content="https://oekastatic.orf.at/mojo/1_4_1/storyserver//common/msapplicationtiles/target.558x558.png" />

<meta name="robots" content="NOODP, NOYDIR" />
<meta name="format-detection" content="telephone=no" />
<meta property="fb:admins" content="100000441983612" />



   <link data-compressor="a9747c31" rel="stylesheet" type="text/css" media="screen" title="CSS Stylesheet" href="https://oekastatic.orf.at/mojo.compressed/1_4_1/oeka//oeka/common-main.css?v=2019121609-501" />




<link data-compressor="1efc978c" rel="stylesheet" type="text/css" media="print" title="CSS Stylesheet" href="https://oekastatic.orf.at/mojo.compressed/1_4_1/oeka//oeka/print.css?v=2019121609-501" />






   <meta property="fb:pages" content="44902596242,182146851877,21376831257,128777999463,553577838028208,288557274619001,942501875773264,515825358469599,289927117783068,400364115907,313258915520789,182837171730931,60906181115,200860629933510,520950004584056,334716002301,285552701609091,121919051194808,46459228315,121729504518822,123113897719876,362938404507,816516858421696,260337754071787,1362329713795725,1475362469455962,175201152647641,92325259890,185820979606,1547131872186889,114647135227810,1636539530008234,1756299601255193,979161472222861" />


   <meta property="og:site_name" content="wien.ORF.at" />
<link rel="canonical" href="https://wien.orf.at/stories/3028602/">
<meta name="twitter:title" content="Wiener zündete Kellerabteil an">
<meta name="twitter:card" content="summary">
<meta name="dc.date" content="2020-01-04" />


<meta property="og:title" content="Wiener zündete Kellerabteil an">
<meta property="og:url" content="https://wien.orf.at/stories/3028602/" />
<meta property="og:type" content="article" />
<meta property="og:locale" content="de_DE" />
<meta property="og:description" content="Auf ungewöhnliche Weise hat ein Wiener am Freitag versucht, eine Aussprache mit einem Bekannten in Simmering zu erzwingen. Da ihn sein Freund nicht in die Wohnung ließ, zündete er kurzerhand in dem Haus ein Kellerabteil an."/>
<meta property="og:image" content="https://ibs.orf.at/wie?image=https%3A%2F%2Foekastatic.orf.at%2Fmims%2F2020%2F01%2F71%2Fcrops%2Fw%3D1200%2Ch%3D627%2Cq%3D75%2F420800_master_138871_p1040120_1.jpg%3Fs%3D493712092111b7938276a16f0cc0c9e30f38ed7b" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="627" />
<meta property="og:image:type" content="image/jpeg" />

<meta name="description" content="Auf ungewöhnliche Weise hat ein Wiener am Freitag versucht, eine Aussprache mit einem Bekannten in Simmering zu erzwingen. Da ihn sein Freund nicht in die Wohnung ließ, zündete er kurzerhand in dem Haus ein Kellerabteil an."/>
<meta name="twitter:description" content="Auf ungewöhnliche Weise hat ein Wiener am Freitag versucht, eine Aussprache mit einem Bekannten in Simmering zu erzwingen. Da ihn sein Freund nicht in die Wohnung ließ, zündete er kurzerhand in dem Haus ein Kellerabteil an."/>
<script type="application/ld+json">
{
   "@context": "http://schema.org",
   "@type": "NewsArticle",
   "author": {
      "@type": "Organization",
      "name": "ORF.at"
   },
   "publisher": {
      "@type": "Organization",
      "name": "ORF.at",
      "url":"https://oesterreich.orf.at",
      "sameAs":["https://oesterreich.orf.at"],
      "logo": {
         "@type": "ImageObject",
         "url": "https://oekastatic.orf.at/mojo/1_4_1/storyserver//oeka/common/images/touch-icon-ipad-retina.png"
      }
   },
   "mainEntityOfPage": "https://wien.orf.at/stories/3028602/",
   "headline": "Chronik: Wiener zündete Kellerabteil an",
   "description": "Auf ungewöhnliche Weise hat ein Wiener am Freitag versucht, eine Aussprache mit einem Bekannten in Simmering zu erzwingen. Da ihn sein Freund nicht in die Wohnung ließ, zündete er kurzerhand in dem Haus ein Kellerabteil an.",
   "image": {
      "@type": "ImageObject",
      "url": "https://ibs.orf.at/wie?image=https%3A%2F%2Foekastatic.orf.at%2Fmims%2F2020%2F01%2F71%2Fcrops%2Fw%3D1200%2Ch%3D627%2Cq%3D75%2F420800_master_138871_p1040120_1.jpg%3Fs%3D493712092111b7938276a16f0cc0c9e30f38ed7b",
      "height": "1200",
      "width": "627"
   },
   
   "datePublished": "2020-01-04T10:25:18.966Z"
}
</script>





</head>
<body class="ss oeka  wie news" id="top">

   <nav id="skiplinks" aria-label="Sprungmarken">
   <a accesskey="1" href="#ss-storyWrapper">Zum Inhalt [AK+1]</a><span class="sr-only"> / </span>
   <a accesskey="3" href="#ss-networkNavigation">Zur ORF.at-Navigation [AK+3]</a>
</nav>



   
<div id="sitebar-banner" class="banner sitebar-banner" aria-hidden="true"></div>
<script data-adworxsitepage="wien.orf.at/news/detail/chr">
   window.onload = function() {
      oon.adition.loadAll("wien.orf.at/news".split("/")[0]).then(function(response) {
         var isDesktop = oon.responsive.isDesktop();
         var bannerParts = "wien.orf.at/news".split("/");
         var domain = bannerParts[0];
         var path = "/" + bannerParts[1] +  "/stories";
         var platform = isDesktop ? "web" : "mob";
         var placement = isDesktop ? "sb" : "par";
         var aditionId = oon.adition.lookup(path, platform, placement);
         console.log(domain, path, platform, placement, aditionId);
         if (aditionId) {
            var sitepage = oon.adition.adformat(domain + path);
            var keywords = {"storyid":"3028602","storytitel":"Wiener zündete Kellerabteil an","bewerb":"sport"};
            var subCategory = oon.adition.adformat("RedCont/Nachrichten/Chronik".split("/").pop());
            var storyTitle = oon.adition.adformat(keywords.storytitel);
            if (isDesktop) {
               adition.srq.push(function(api) {
                  api.setProfile("viewport", "full");
                  api.setProfile("sitepage", sitepage);
                  api.setProfile("storyid", keywords.storyid);
                  api.setProfile("subcategory", subCategory);
                  api.setProfile("storytitel", storyTitle);
                  api.setProfile("storytype", "story");
                  api.setProfile("test", oon.adition.isTest());
                  var adSlot = window.adSlot = api.configureRenderSlot("sitebar-banner").setContentunitId(aditionId);
                  api.renderSlot("sitebar-banner").load().completeRendering();
                  adSlot.events.onFinishLoading(function (renderSlotElement, bannerDescriptionApi, renderControlApi) {
                     var options = bannerDescriptionApi.getOptions();
                     console.log("finished, size: ", bannerDescriptionApi.getWidth(), bannerDescriptionApi.getHeight(), bannerDescriptionApi.getOptions());
                     if (parseInt(bannerDescriptionApi.getWidth(), 10) >= 728) {
                        $("#sitebar-banner").removeClass("sitebar-banner").addClass("top1");
                     }
                  });
               });
            } else {
               adition.srq.push(function(api) {
                  api.setProfile("viewport", oon.responsive.isTablet() ? "tablet" : "phone");
                  api.setProfile("sitepage", sitepage);
                  api.setProfile("storyid", keywords.storyid);
                  api.setProfile("subcategory", subCategory);
                  api.setProfile("storytitel", storyTitle);
                  api.setProfile("storytype", "story");
                  api.setProfile("test", oon.adition.isTest());
                  api.configureRenderSlot("px-wrapper").setContentunitId(aditionId);
                  api.renderSlot("px-wrapper").load().completeRendering();
               });
               oon.parallax();
            }
         }
      });
   }
</script>



   <div class="wrapper">
      <header class="header">
   <nav aria-label="ORF.at Navigation">
   <ul id="ss-networkNavigation" class="network-navigation" tabindex="-1">
      <li><a href="https://tv.orf.at/">Fernsehen</a></li>
      <li><a href="https://tvthek.orf.at/">TVthek</a></li>
      <li><a href="https://radiothek.orf.at/">Radiothek</a></li>
      <li><a href="https://debatte.orf.at/">Debatte</a></li>
      <li><a href="https://oesterreich.orf.at/" class="current">&Ouml;sterreich</a></li>
      <li><a href="https://wetter.orf.at/">Wetter</a></li>
      <li><a href="https://sport.orf.at/">Sport</a></li>
      <li><a href="https://orf.at/" lang="en">News</a></li>
      <li id="sitemap-menu" class="network-navigation-sitemap">
         <a href="https://orf.at/uebersicht" id="sitemap-button" role="button" aria-controls="sitemap" aria-haspopup="true">ORF.at im &Uuml;berblick</a>
         <div id="sitemap" class="network-navigation-sitemap-content" aria-labelledby="sitemap-button"></div>
      </li>
   </ul>
</nav>


   <div class="top-area-wrapper">
      <div class="logo-area wie">
   <a class="site-logo" href="https://wien.orf.at/" title="wien.ORF.at" aria-label="Zur wien.ORF.at-Startseite">wien</a>
   <a href="https://ORF.at"><img src="https://oekastatic.orf.at/mojo/1_4_1/storyserver//oeka/common/images/target.news.svg" width="101" height="39" alt="zur ORF.at-Startseite" title="ORF.at" class="orfon-target-logo"></a>
</div>


      <div class="flag-area">
         

      </div>
      <nav class="drawer-navigation">
         <button class="drawer-button" aria-expanded="false" aria-controls="drawer-wrapper">
   <span class="sr-only">Navigation</span>
   <div class="drawer-button-image"></div>
</button>


         <div class="drawer-wrapper" id="drawer-wrapper" aria-hidden="true">
   <div class="drawer-content">
      <ul id="ss-SiteNavigation" class="site-navigation" tabindex="-1">
   <li>
      <img class="bula-icon" src="https://oekastatic.orf.at/mojo/1_4_1/storyserver//oeka/common/images/icon.wie.svg" width="36" height="36" alt="wien.ORF.at" title="wien.ORF.at">
      <a href="https://wien.orf.at/">Wien-News</a>
   </li>
   <li class="has-children wienews ">
      <a href="#" aria-haspopup="true">Radio Wien</a>
      <ul class="site-nav-level2" aria-label="submenu">
         <li class="Story#3028602">
   <a href="https://wien.orf.at/radio/">&Uuml;bersicht</a>
</li>


         <li class="">
   <a href="https://wien.orf.at/radio/tags/veranstaltungen/">Veranstaltungen</a>
</li>

         <li class="">
   <a href="https://wien.orf.at/radio/tags/expertinnen/">Expertinnen</a>
</li>

         <li class="">
   <a href="https://wien.orf.at/radio/stories/nachhoeren/">Nachh&ouml;ren</a>
</li>
         <li class="">
   <a href="https://wien.orf.at/radio/tags/energiepegel/">Energiepegel</a>
</li>

         <li class="">
   <a href="https://wien.orf.at/radio/stories/musikwunsch/">Musikwunsch</a>
</li>
         <li class="">
   <a href="https://wien.orf.at/radio/stories/sendeschema/">Sendeschema</a>
</li>
      </ul>
   </li>
   <li><a href="https://wien.orf.at/tv/">Wien heute</a></li>
   <li class="has-children wienews ">
      <a href="#" aria-haspopup="true">Studio Wien</a>
      <ul class="site-nav-level2" aria-label="submenu">
         <li class="Story#3028602">
   <a href="https://wien.orf.at/studio/">&Uuml;bersicht</a>
</li>


         <li class="">
   <a href="https://wien.orf.at/studio/stories/team/">Team</a>
</li>
         <li class="">
   <a href="https://wien.orf.at/studio/stories/faq/">FAQ</a>
</li>
         <li class="">
   <a href="https://wien.orf.at/studio/stories/kontakt/">Kontakt</a>
</li>
      </ul>
   </li>
   <li><a href="https://volksgruppen.orf.at/">Volksgruppen</a></li>
   <li class="push-icon"><a href="https://wien.orf.at/stories/push/"><img src="https://oekastatic.orf.at/mojo/1_4_1/storyserver//oeka/common/images/push.svg" width="15" height="17" alt="Benachrichtigungen einstellen" title="Benachrichtigungen einstellen"><span>Benachrichtigungen</span></a></li>
   <li><a href="https://oesterreich.orf.at/">Ganz &Ouml;sterreich</a></li>
</ul>




      <ul class="drawer-network-navigation">
         <li><a href="https://orf.at/">News</a></li>
         <li><a href="https://sport.orf.at/">Sport</a></li>
         <li><a href="https://wetter.orf.at/m/">Wetter</a></li>
         <li><a href="https://oesterreich.orf.at/m/">&Ouml;sterreich</a></li>
         <li><a href="https://debatte.orf.at">Debatte</a></li>
         <li><a href="https://radiothek.orf.at">Radiothek</a></li>
         <li><a href="https://tvthek.orf.at/">TVthek</a></li>
         <li><a href="https://tv.orf.at/">Fernsehen</a></li>
         <li><a href="https://orf.at/uebersicht/">Alle ORF Angebote</a></li>
      </ul>
   </div>
</div>



      </nav>
   </div>
   <div class="site-navigation-wrapper">
      <div class="site-navigation-bar"></div>
      <nav aria-label="wien.ORF.at Navigation">
   <ul id="ss-SiteNavigation" class="site-navigation" tabindex="-1">
   <li>
      <img class="bula-icon" src="https://oekastatic.orf.at/mojo/1_4_1/storyserver//oeka/common/images/icon.wie.svg" width="36" height="36" alt="wien.ORF.at" title="wien.ORF.at">
      <a href="https://wien.orf.at/">Wien-News</a>
   </li>
   <li class="has-children wienews ">
      <a href="#" aria-haspopup="true">Radio Wien</a>
      <ul class="site-nav-level2" aria-label="submenu">
         <li class="Story#3028602">
   <a href="https://wien.orf.at/radio/">&Uuml;bersicht</a>
</li>


         <li class="">
   <a href="https://wien.orf.at/radio/tags/veranstaltungen/">Veranstaltungen</a>
</li>

         <li class="">
   <a href="https://wien.orf.at/radio/tags/expertinnen/">Expertinnen</a>
</li>

         <li class="">
   <a href="https://wien.orf.at/radio/stories/nachhoeren/">Nachh&ouml;ren</a>
</li>
         <li class="">
   <a href="https://wien.orf.at/radio/tags/energiepegel/">Energiepegel</a>
</li>

         <li class="">
   <a href="https://wien.orf.at/radio/stories/musikwunsch/">Musikwunsch</a>
</li>
         <li class="">
   <a href="https://wien.orf.at/radio/stories/sendeschema/">Sendeschema</a>
</li>
      </ul>
   </li>
   <li><a href="https://wien.orf.at/tv/">Wien heute</a></li>
   <li class="has-children wienews ">
      <a href="#" aria-haspopup="true">Studio Wien</a>
      <ul class="site-nav-level2" aria-label="submenu">
         <li class="Story#3028602">
   <a href="https://wien.orf.at/studio/">&Uuml;bersicht</a>
</li>


         <li class="">
   <a href="https://wien.orf.at/studio/stories/team/">Team</a>
</li>
         <li class="">
   <a href="https://wien.orf.at/studio/stories/faq/">FAQ</a>
</li>
         <li class="">
   <a href="https://wien.orf.at/studio/stories/kontakt/">Kontakt</a>
</li>
      </ul>
   </li>
   <li><a href="https://volksgruppen.orf.at/">Volksgruppen</a></li>
   <li class="push-icon"><a href="https://wien.orf.at/stories/push/"><img src="https://oekastatic.orf.at/mojo/1_4_1/storyserver//oeka/common/images/push.svg" width="15" height="17" alt="Benachrichtigungen einstellen" title="Benachrichtigungen einstellen"><span>Benachrichtigungen</span></a></li>
   <li><a href="https://oesterreich.orf.at/">Ganz &Ouml;sterreich</a></li>
</ul>


</nav>


   </div>
</header>
<div class="drawer-dimmer"></div>



      <main class="content contentpage" id="content" tabindex="-1">
         <div tabindex="-1" id="ss-storyWrapper" class="story-wrapper story-type-story story-opener-exists">
      <figure class="image opener">
      <picture>
         <source media="(min-width: 601px)"
            srcset="https://oekastatic.orf.at/mims/2020/01/71/crops/w=640,q=70,r=2/420802_opener_138871_p1040120_1.jpg?s=4500a28696bb1418006181b83c5e5883ebfefc92 2x, https://oekastatic.orf.at/mims/2020/01/71/crops/w=640,q=60,r=3/420802_opener_138871_p1040120_1.jpg?s=bcfa9e83a9cc764bd2d292e076a325dec06f6f87 3x"
         />
         <source media="(max-width: 600px)"
            srcset="https://oekastatic.orf.at/mims/2020/01/71/crops/w=800,h=450,q=70/420800_master_138871_p1040120_1.jpg?s=543122e8c69261b781d8c7b919a9703a6d48eaf9 800w, https://oekastatic.orf.at/mims/2020/01/71/crops/w=1280,h=720,q=60/420800_master_138871_p1040120_1.jpg?s=28b6170545afe02fc2cf5c5300610b8caf032398 1280w"
         />
         <img
            srcset="https://oekastatic.orf.at/mims/2020/01/71/crops/w=875,q=90/420802_opener_138871_p1040120_1.jpg?s=273661ba7cb2b26fe064f9ed4676e78f87a0ccfa"
            alt="Ausgebranntes Kellerabteil"
         />
      </picture>
      <footer class="credit" aria-hidden="true">
          <span class="copyright" title="LPD Wien">
   LPD Wien
</span>



      </footer>
      <footer class="credit mobile" aria-hidden="true">
          <span class="copyright" title="LPD Wien">
   LPD Wien
</span>



      </footer>
   </figure>



   <div id="ss-shunter" class="shunter">
      <div class="story-lead">
         <div class="keyword">Chronik</div>




         <h1 class="story-lead-headline">Wiener zündete Kellerabteil an</h1>
         <p class="story-lead-text"><strong>
            Auf ungewöhnliche Weise hat ein Wiener am Freitag versucht, eine Aussprache mit einem Bekannten in Simmering zu erzwingen. Da ihn sein Freund nicht in die Wohnung ließ, zündete er kurzerhand in dem Haus ein Kellerabteil an.
         </strong></p>
         <div class="story-meta">
   <div class="story-meta-dates">
      <div class="print-only" aria-hidden="true">
         04.01.2020 11.25
      </div>
      Online seit gestern, 11.25 Uhr




   </div>
   <div class="social-buttons">
  <a class="social-sharing-trigger facebook" rel="noopener" title="Auf Facebook teilen" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwien.orf.at%2Fstories%2F3028602%2F">
     Auf Facebook teilen
  </a>
  <a class="social-sharing-trigger twitter" rel="noopener" title="Auf Twitter teilen" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwien.orf.at%2Fstories%2F3028602%2F&text=Wiener%20z%C3%BCndete%20Kellerabteil%20an">
     Auf Twitter teilen
  </a>
  <a class="mail" rel="noopener" title="Per Email verschicken" href="mailto:?body=https%3A%2F%2Fwien.orf.at%2Fstories%2F3028602%2F&subject=wien.ORF.at - Wiener%20z%C3%BCndete%20Kellerabteil%20an">
    Auf Twitter teilen
  </a>
</div>


</div>


      </div>
      <div id="ss-storyContent" class="story-content">
         

         <div class="story-banner story-horizontal-ad"></div>



         <div class="story-story">
            
            <p>Der Streit, dessen Ursache unklar blieb, war offenbar den ganzen Tag lang ausgetragen worden. Seit den Morgenstunden versuchte der 41-Jährige, in die Wohnung seines Bekannten in der Hasenleitengasse zu gelangen, was dieser jedoch verhinderte. Gegen Mittag beobachteten andere Hausparteien, die auf den Lärm aufmerksam wurden, wie der Mann in den Keller ging.</p>   <figure class="image bigpicture landscape">
      
      <img class="lazy-loading"
         src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%201535%201023'%2F%3E"
         data-src="https://oekastatic.orf.at/mims/2020/01/70/crops/w=1280,q=90/420799_bigpicture_138870_p1040120_2.jpg?s=35a4df34d249e2cb0dc05e1f980d2881aa1e0efc"
         data-srcset="https://oekastatic.orf.at/mims/2020/01/70/crops/w=1280,q=70,r=1/420799_bigpicture_138870_p1040120_2.jpg?s=507764843b0913cd8b9c53bad262ab221b4722fb 1x, https://oekastatic.orf.at/mims/2020/01/70/crops/w=1280,q=60,r=1.5/420799_bigpicture_138870_p1040120_2.jpg?s=ec0bbfb20809b80d8160ed96e5fe49cccb40af90 1.5x"
         alt="Ausgebranntes Kellerabteil"
      />
      
      <footer class="credit" aria-hidden="true">
          <span class="copyright" title="LPD Wien">
   LPD Wien
</span>



      </footer>
      <figcaption class="caption">Die Feuerwehr konnte den Brand rasch löschen</figcaption>
   </figure>

<h2>Mann wurde festgenommen</h2><p>Wenig später stand ein Kellerabteil in Flammen, Rauch zog durch das Stiegenhaus. Während die Feuerwehr den Brand rasch löschte, nahm die Polizei den Verdächtigen noch an Ort und Stelle fest. Seine Hände wiesen Brandverletzungen auf, in seiner Jacke hatte er Zündhölzer dabei. Der 41-Jährige gab zu, dass er seinen Bekannten durch die Brandstiftung zum Verlassen seiner Wohnung zwingen wollte.</p>
         </div>
         <div class="story-footer">
            <div class="byline"><p>red, wien.ORF.at/<a href="https://orf.at/stories/impressum-nachrichtenagenturen/">Agenturen</a></p></div>


            


         </div>
      </div>
      <div id="more-to-read-anchor" class="more-to-read-anchor"></div>
   </div>
</div>

<aside id="more-to-read" class="more-to-read fixed loading">
   <a href="#" id="more-to-read-arrow-left"
         class="more-to-read-arrow left" title="Zurück">
      <img src="https://oekastatic.orf.at/mojo/1_4_1/storyserver//common/images/slideshow_left_white.svg" alt="Zurück">
   </a>
   <div class="scrollable-pane" id="more-to-read-container"></div>
   <a href="#" id="more-to-read-arrow-right"
         class="more-to-read-arrow right" title="Weiter">
      <img src="https://oekastatic.orf.at/mojo/1_4_1/storyserver//common/images/slideshow_right_white.svg" alt="Weiter">
   </a>
   <script type="text/template" id="more-to-read-template">
      <nav class="more-to-read-stories">
         <h4 class="more-to-read-title{% if (isGrid) { %} in-grid{% } %}">
            {% if (isGrid) { %}
               <div>Aktuell in wien</div>
                  <img class="bula-logo" src="https://oekastatic.orf.at/mojo/1_4_1/storyserver//oeka/common/images/more-to-read-logo.svg" alt="wien.ORF.at" />
            {% } else { %}
               <div><b>Mehr</b> zum Thema</div>
            {% } %}
         </h4>
         <div class="more-to-read-stories-list">
         {% items.forEach(function(item, idx) { %}
            {% item.title %}
            <a class="more-to-read-item" href="{%- item.link.href %}" {% if (isGrid) { %} rel="nofollow" {% } %}>
               {% if (item.crop) { %}
                  <img class="lazy-loading"
                     src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw"
                     data-src="{%- item.crop.src  %}"
                     data-srcset="{%- item.crop.srcSet %}"
                     alt="{%- item.crop.alttext %}"
                     title="{%- item.crop.copyright %}{% if (item.crop.sourceUrl) { %} ({%- item.crop.sourceUrl %}){% } %}{% if (item.crop.license) { %} / {%- item.crop.license.name %} ({%- item.crop.license.url %}){% } %}"
                  />
                  <h4 class="title">{%= item.title %}</h4>
               {% } else { %}
                  <img class="{%= item.site.substring(0,3)%} bula-pattern" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw" />
                  <h4 class="title noimage">{%= item.title %}</h4>
               {% } %}
               {% if (item.flag != null || item.link.siteAlias && item.link.siteAlias.substring(0,3) != "wie") { %}
                  <div class="linkcard-flag">
                     {% if (item.flag == null) { %}
                        {%-
                           {
                              "bgl": 'Burgenland',
                              "ktn": 'Kärnten',
                              "noe": 'Niederösterreich',
                              "ooe": 'Oberösterreich',
                              "sbg": 'Salzburg',
                              "stm": 'Steiermark',
                              "tir": 'Tirol',
                              "vbg": 'Vorarlberg',
                              "wie": 'Wien'
                           }[item.link.siteAlias.substring(0,3)]
                        %}
                     {% } else { %}
                        {%= item.flag %}
                     {% } %}
                  </div>
               {% } %}
            </a>
         {% }) %}
         </div>
      </nav>
   </script>
   <script type="application/json" id="more-to-read-data">
  {
     "site": "wien.ORF.at",
     "excludeStoryId": 3028602,
     "grid": "https://wien.orf.at/linkcards.aggregated.json",
     "items": []
  }
</script>




</aside>








      </main>
      <footer class="page-footer" id="page-footer">
   <div class="back-to-front" >
      <a href="https://wien.orf.at/">Zur&uuml;ck zur Startseite</a>
   </div>
   <div class="bula-footer-bar"></div>
   <ul class="footer-network">
   <li><a href="https://orf.at/" lang="en">News</a></li>
   <li><a href="https://sport.orf.at/" class="current">Sport</a></li>
   <li><a href="https://wetter.orf.at/">Wetter</a></li>
   <li class="has-children visible">
      <a href="#" aria-haspopup="true" class="networkOesterreich">&Ouml;sterreich</a>
      <ul>
   <li class="has-children bula-with-icon visible-drawer">
      <a href="#" aria-haspopup="true" class="networkOesterreich">
         <img class="bula-icon" src="https://oekastatic.orf.at/mojo/1_4_1/storyserver//oeka/common/images/icon.wie.svg" width="36" height="36" alt="wien.ORF.at" title="wien.ORF.at">
         Wien
      </a>
      <ul id="ss-SiteNavigation" class="site-navigation" tabindex="-1">
   <li>
      <img class="bula-icon" src="https://oekastatic.orf.at/mojo/1_4_1/storyserver//oeka/common/images/icon.wie.svg" width="36" height="36" alt="wien.ORF.at" title="wien.ORF.at">
      <a href="https://wien.orf.at/">Wien-News</a>
   </li>
   <li class="has-children wienews ">
      <a href="#" aria-haspopup="true">Radio Wien</a>
      <ul class="site-nav-level2" aria-label="submenu">
         <li class="Story#3028602">
   <a href="https://wien.orf.at/radio/">&Uuml;bersicht</a>
</li>


         <li class="">
   <a href="https://wien.orf.at/radio/tags/veranstaltungen/">Veranstaltungen</a>
</li>

         <li class="">
   <a href="https://wien.orf.at/radio/tags/expertinnen/">Expertinnen</a>
</li>

         <li class="">
   <a href="https://wien.orf.at/radio/stories/nachhoeren/">Nachh&ouml;ren</a>
</li>
         <li class="">
   <a href="https://wien.orf.at/radio/tags/energiepegel/">Energiepegel</a>
</li>

         <li class="">
   <a href="https://wien.orf.at/radio/stories/musikwunsch/">Musikwunsch</a>
</li>
         <li class="">
   <a href="https://wien.orf.at/radio/stories/sendeschema/">Sendeschema</a>
</li>
      </ul>
   </li>
   <li><a href="https://wien.orf.at/tv/">Wien heute</a></li>
   <li class="has-children wienews ">
      <a href="#" aria-haspopup="true">Studio Wien</a>
      <ul class="site-nav-level2" aria-label="submenu">
         <li class="Story#3028602">
   <a href="https://wien.orf.at/studio/">&Uuml;bersicht</a>
</li>


         <li class="">
   <a href="https://wien.orf.at/studio/stories/team/">Team</a>
</li>
         <li class="">
   <a href="https://wien.orf.at/studio/stories/faq/">FAQ</a>
</li>
         <li class="">
   <a href="https://wien.orf.at/studio/stories/kontakt/">Kontakt</a>
</li>
      </ul>
   </li>
   <li><a href="https://volksgruppen.orf.at/">Volksgruppen</a></li>
   <li class="push-icon"><a href="https://wien.orf.at/stories/push/"><img src="https://oekastatic.orf.at/mojo/1_4_1/storyserver//oeka/common/images/push.svg" width="15" height="17" alt="Benachrichtigungen einstellen" title="Benachrichtigungen einstellen"><span>Benachrichtigungen</span></a></li>
   <li><a href="https://oesterreich.orf.at/">Ganz &Ouml;sterreich</a></li>
</ul>


   </li>
</ul>




   </li>
   <li><a href="https://debatte.orf.at/">Debatte</a></li>
   <li><a href="https://tvthek.orf.at/">TVthek</a></li>
   <li><a href="https://tv.orf.at/">Fernsehen</a></li>
   <li><a href="https://radiothek.orf.at/">Radiothek</a></li>
   <li><a href="https://orf.at/uebersicht/">Alle ORF-Angebote</a></li>
</ul>




   <ul class="footer-service">
      <li><a href="https://der.orf.at/kontakt">Kontakt</a></li>
      <li><a href="https://orf.at/stories/datenschutz">Datenschutz</a></li>
      <li><a href="https://orf.at/stories/impressum/">Impressum<span class="display-only-desktop">/Offenlegung</span></a></li>
      <li><a href="https://zukunft.orf.at/show_content2.php?s2id=183">Bekanntgaben laut ORF-G</a></li>
      <li><a href="https://publikumsrat.orf.at/">Publikumsrat</a></li>
      <li><img class="orf-brick" src="https://oekastatic.orf.at/mojo/1_4_1/storyserver//oeka/common/images/orf-brick.svg" alt="ORF-Logo"></li>
   </ul>
</footer>



   </div>

   
<script>
   window.settings = {
      "sitemap": {
         "url": "https://oekastatic.orf.at/mojo/1_4_1/storyserver//common/sitemap/sitemap-standard.json"
      },
      "vote": {
         "pluginSrc": "https://vote.orf.at/mojo/1_3/storyserver/vote/jquery.vote.js?t=4"
      },
      "siteHref": "https://wien.orf.at/",
      "siteAlias": "wienews",
      "mediaApi": "//bits.orf.at/filehandler/static-api/json/current/data.json"
   };
    document.addEventListener("DOMContentLoaded", function(event) {
       console.log("Loaded")
      new Vue({
      components: {
         Player: bulaplayer
      }
      }).$mount('#app')
      })
   </script>

<script data-compressor="82e7f8ec" src="https://oekastatic.orf.at/mojo.compressed/1_4_1/oeka//oeka/main.js?v=2019121609-501"></script>







   <link rel="stylesheet" type="text/css"
      media="screen"
      title="CSS Stylesheet"
      href="//orf.at/oon/media/4.7/oon.media-bundle.css?v=2019121609-501"
   />
   <script src="//orf.at/oon/media/4.7/oon.media-bundle.js?v=2019121609-501"></script>
   <script defer src="//pipe.orf.at/globus-0.4/code/injector.js"></script>
   <script src="https://oekastatic.orf.at/bulaplayer/vue.min.js?v=2019121609-501"></script>
   <script src="https://oekastatic.orf.at/bulaplayer/bulaplayer.umd.min.js?v=2019121609-501"></script>
   <script async src="/vue-notifications/js/update-push-token.js?v=2019121609-501"></script>
   <link rel="stylesheet" href="https://oekastatic.orf.at/bulaplayer/bulaplayer.css?v=2019121609-501">
   

   


   <!-- OEWA -->
<script>
if (typeof oewa_custom == "undefined") {
   var oewa_path = "RedCont/Nachrichten/Chronik/v3oeka/v2wie/v2lana/stories/";
   var oewa_unique = "3028602";
   var oewa_postdate = new Date(1578133518966);
   var oewa_delta = 7 * 86400000;
   if (isNaN(parseInt(oewa_unique)) === false && (new Date() - oewa_postdate) > oewa_delta) {
      oewa_unique = "fulltext";
   }
   var oewa_data = {
  "cn": "at",
  "st": "at_w_atorf",
  "sv": "in",
  "ps": "lin",
  "sc": "yes"
};
   oewa_data.cp = oewa_path + "/" + oewa_unique;
   if (window.oewa_init) {
      window.oewa_init(oewa_data);
}
}
</script>
<!-- /OEWA -->


</body>
</html>


